@import "@/assets/variables.scss";

.weather-display-container {
  box-sizing: border-box;
  background: linear-gradient(0deg, $main 80%, rgb(224, 224, 224) 120%);
  box-shadow: $shadow-v1;
  color: $light;
  width: 90%;
  max-width: 450px;
  aspect-ratio: 4/6;
  padding: 1rem;
  border-radius: 50px;
  position: relative;
}

.weather-display-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}

.weather-display-temp-wrapper {
  box-sizing: border-box;
  width: 100%;
  aspect-ratio: 4/5;
  padding: 0 1rem;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 10rem;
  font-family: $secondary-font-family;
  font-weight: 100;
  font-optical-sizing: auto;
  position: relative;
  box-shadow: $shadow-v2;
}

.sun-moon-graphic {
  width: 40%;
  aspect-ratio: 1/1;
  background-color: #ffa60000;
  border-radius: 100%;
  position: absolute;
  top: 2rem;
  right: 2rem;
}
