@import "@/assets/variables.scss";

.weather-display-container {
  box-sizing: border-box;
  background-color: $dark;
  color: $light;
  width: 90%;
  max-width: 500px;
  aspect-ratio: 4/6;
  padding: 2rem 1.75rem 1.75rem 1.75rem;
  border-radius: 40px;
  position: relative;
  box-shadow: $shadow-v1;
}

.weather-display-search-icon {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  cursor: pointer;
  z-index: 10;
  transition: all 0.25s ease;
}

.weather-display-search-icon:hover {
  transform: scale(1.1);
}

.weather-display-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.weather-display-header {
  font-weight: 200;
  width: 80%;
  cursor: pointer;
}

.weather-display-temp-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 8rem;
  font-family: $secondary-font-family;
  font-weight: 100;
  font-optical-sizing: auto;
}
