// basic body
$main-background-color: rgb(255, 255, 255);
$main-font-family: "Raleway", sans-serif;
$secondary-font-family: "Aleo", serif;
$main-text-color: rgb(0, 0, 0);
$main-font-size: 1rem;

// nav settings
$nav-height: 60px;

// colors
// $dark: #252233;
$dark: rgba(18, 17, 24, 1);
$dark-blue: #2f3947;
$dark-blue-translucent: #2f3947be;
$light: rgb(226, 225, 225);
$main: rgba(181, 181, 181, 1);
$secondary: rgba(181, 181, 181, 0.3);
$third: rgba(181, 181, 181, 0.6);

// box shadows
$shadow-v1: 0px 2.3px 2.8px 0px rgba(0, 0, 0, 0.027),
  0px 4.7px 5.5px 0px rgba(0, 0, 0, 0.035),
  0px 7.3px 8.3px 0px rgba(0, 0, 0, 0.04),
  0px 10px 11.2px 0px rgba(0, 0, 0, 0.043),
  0px 13.1px 14.1px 0px rgba(0, 0, 0, 0.043),
  0px 16.7px 17.1px 0px rgba(0, 0, 0, 0.043),
  0px 21.3px 20.3px 0px rgba(0, 0, 0, 0.047),
  0px 27.2px 23.7px 0px rgba(0, 0, 0, 0.047),
  0px 35.4px 27.6px 0px rgba(0, 0, 0, 0.047),
  0px 47.6px 32.3px 0px rgba(0, 0, 0, 0.05),
  0px 67.7px 38.5px 0px rgba(0, 0, 0, 0.055),
  0px 107.7px 48.5px 0px rgba(0, 0, 0, 0.06);

$shadow-v2: 0px 2.3px 2.8px 0px rgba(0, 0, 0, 0.027),
  0px 4.7px 5.5px 0px rgba(0, 0, 0, 0.035),
  0px 7.3px 8.3px 0px rgba(0, 0, 0, 0.04),
  0px 10px 11.2px 0px rgba(0, 0, 0, 0.043),
  0px 13.1px 14.1px 0px rgba(0, 0, 0, 0.043),
  0px 16.7px 17.1px 0px rgba(0, 0, 0, 0.043);

$shadow-v2-alt: 0px -2.3px 2.8px 0px rgba(0, 0, 0, 0.027),
  0px -4.7px 5.5px 0px rgba(0, 0, 0, 0.035),
  0px -7.3px 8.3px 0px rgba(0, 0, 0, 0.04),
  0px -10px 11.2px 0px rgba(0, 0, 0, 0.043),
  0px -13.1px 14.1px 0px rgba(0, 0, 0, 0.043),
  0px -16.7px 17.1px 0px rgba(0, 0, 0, 0.043);

$shadow-v3: inset 5px 5px 13px #08080b, inset -5px -5px 13px #1c1a25,
  0px 2.3px 2.8px 0px rgba(0, 0, 0, 0.027),
  0px 4.7px 5.5px 0px rgba(0, 0, 0, 0.035),
  0px 7.3px 8.3px 0px rgba(0, 0, 0, 0.04),
  0px 10px 11.2px 0px rgba(0, 0, 0, 0.043),
  0px 13.1px 14.1px 0px rgba(0, 0, 0, 0.043),
  0px 16.7px 17.1px 0px rgba(0, 0, 0, 0.043),
  0px 21.3px 20.3px 0px rgba(0, 0, 0, 0.047),
  0px 27.2px 23.7px 0px rgba(0, 0, 0, 0.047),
  0px 35.4px 27.6px 0px rgba(0, 0, 0, 0.047),
  0px 47.6px 32.3px 0px rgba(0, 0, 0, 0.05),
  0px 67.7px 38.5px 0px rgba(0, 0, 0, 0.055),
  0px 107.7px 48.5px 0px rgba(0, 0, 0, 0.06);

$shadow-v4: rgba(0, 0, 0, 0.312) 1px 1px 20px,
  rgba(0, 0, 0, 0.016) 1.2px 1.2px 0.3px, rgba(0, 0, 0, 0.024) 2.4px 2.4px 0.6px,
  rgba(0, 0, 0, 0.024) 3.8px 3.8px 1px, rgba(0, 0, 0, 0.027) 5.2px 5.2px 1.4px,
  rgba(0, 0, 0, 0.027) 6.9px 6.9px 1.9px, rgba(0, 0, 0, 0.027) 8.8px 8.8px 2.5px,
  rgba(0, 0, 0, 0.027) 11.3px 11.3px 3.3px,
  rgba(0, 0, 0, 0.03) 14.4px 14.4px 4.5px,
  rgba(0, 0, 0, 0.03) 18.6px 18.6px 6.1px,
  rgba(0, 0, 0, 0.03) 24.3px 24.3px 8.3px,
  rgba(0, 0, 0, 0.03) 32.5px 32.5px 11.6px,
  rgba(0, 0, 0, 0.03) 44.9px 44.9px 16.8px,
  rgba(0, 0, 0, 0.035) 65.5px 65.5px 25.5px,
  rgba(0, 0, 0, 0.035) 106.4px 106.4px 43px;

$shadow-v5: rgba(0, 0, 0, 0) 0px 0px 0px,
  rgba(0, 0, 0, 0.043) 1.2px -1.2px 5.8px,
  rgba(0, 0, 0, 0.055) 2.5px -2.5px 11.7px,
  rgba(0, 0, 0, 0.06) 4.3px -4.3px 17.9px,
  rgba(0, 0, 0, 0.063) 7.3px -7.3px 25.2px,
  rgba(0, 0, 0, 0.067) 14.4px -14.4px 35.8px;

// text shadows
$text-shadow-v1: rgba(0, 0, 0, 0) 0px 0px 0px,
  rgba(0, 0, 0, 0.04) 0.2px 0.2px 0px, rgba(0, 0, 0, 0.047) 0.4px 0.4px 0.1px,
  rgba(0, 0, 0, 0.05) 0.8px 0.8px 0.5px, rgba(0, 0, 0, 0.055) 1.6px 1.6px 1.3px,
  rgba(0, 0, 0, 0.06) 3.1px 3.1px 3px, rgba(0, 0, 0, 0.06) 6px 6px 6.5px,
  rgba(0, 0, 0, 0.063) 11.8px 11.8px 13.7px,
  rgba(0, 0, 0, 0.067) 25.8px 25.8px 31.3px;

// animations
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-25px);
    filter: blur(3px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    filter: blur(2px);
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0);
  }
}
