@import "@/assets/variables.scss";

#root {
  padding: 0;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  box-sizing: border-box;
  max-width: 100%;
  margin: 0;
  font-family: $main-font-family;
  font-size: $main-font-size;
  background: linear-gradient(315deg, #9d9d9d, rgb(224, 224, 224));
  color: $main-text-color;
}

.content-section {
  width: 90%;
  max-width: 1050px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
